body {
  font-family: Arial;
  background: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  padding: 25px;

  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #8b4513;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #d2691e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #b85c1c;
}

.msg {
  text-align: center;
  margin-top: 10px;
}

.erro {
  color: red;
}

.sucesso {
  color: green;
}